<h2 class="mb-3 text-center">Rented Cars</h2>

<table class="table table-hover table-striped table-success text-center">
    <thead>
        <tr>
            <th>Model</th>
            <th>Brand</th>
            <th>Renter Name</th>
            <th>Renter Company</th>
            <th>Rental Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rental of rentals; index as i;">
            <td>{{rental.carName}}</td>
            <td>{{rental.brandName}}</td>
            <td>{{rental.userFullName}}</td>
            <td>{{rental.companyName}}</td>
            <td>{{rental.rentDate}}</td>
        </tr>
    </tbody>
</table>
