<div class="row footer-top pt-5 p-4">
    <div class="col-md-3 mb-5">
        <!-- logo -->
        <div class="row d-flex justify-content-center">
            <div class="d-flex align-items-center">
                <a routerLink="/" class="logo ml-4">
                    <span><b>Travel</b> <span style="color:#fff;">Car</span></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h5>Rental Processes</h5>
        <ul class="list-group">
            <div class="list-hr mt-2 mb-4"></div>
            <li class="list-item"><a href="#">About Car Rental</a></li>
            <li class="list-item"><a href="#">Privacy</a></li>
            <li class="list-item"><a href="#">Car Rental Terms & Service Agreement</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h5>User Menus</h5>
        <ul class="list-group">
            <div class="list-hr mt-2 mb-4"></div>
            <li class="list-item"><a routerLink="/cars">Rental Cars</a></li>
            <li class="list-item"><a routerLink="/admin/car-add">Add Car</a></li>
            <li class="list-item"><a routerLink="/admin">Admin Panel</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h5>Popular Topics</h5>
        <ul class="list-group">
            <div class="list-hr mt-2 mb-4"></div>
            <li class="list-item"><a href="#">Places to Visit in Turkey</a></li>
            <li class="list-item"><a href="#">Tourist Attractions</a></li>
            <li class="list-item"><a href="#">Fuel Saving Tips</a></li>
        </ul>
    </div>
</div>
<div class="row d-flex align-items-center footer-bottom">
    <div class="col-md-6 d-flex justify-content-start pl-5">
        <span class="copyright">All Rights Reserved 2025 @ Copyright</span>
    </div>   
    <div class="col-md-6 d-flex justify-content-end pr-5">
        <span class="term ml-4">Terms & Conditions</span>
        <span class="term ml-4">Privacy Policy</span>
        <span class="term ml-4">About Us</span>
    </div>
</div>
